<div class="menu-container">
  <div class="menu-item"><%= link_to 'Email', friends_path, class: 'menu-btn menu-btn--active' %></div>
  <div class="menu-item"><%= link_to 'Email Service', friends_path, class: 'menu-btn' %></div>
  <div class="menu-item"><%= link_to 'Facebook', friends_path, class: 'menu-btn' %></div>
  <div class="menu-item"><%= link_to 'Connection', friends_path, class: 'menu-btn' %></div>
</div>