<div class="nav-container">
  <div class="nav-container__header">Invite Friends</div>
  <div class="nav-container__breadcrumb">
    <%= link_to '<-- Go Back', friends_path, class: 'link' %>
  </div>
</div>